<!DOCTYPE html>
<html>
<head>
    {{ template "common-header" }}
    <style>
        {{ template "common-css" }}
    </style>
</head>

<body>
    {{ template "common-logo" }}
    {{ template "common-menu" }}

    <a href="/books">Browse books</a>


    <h2>Add a new book</h2>
    <div class="book-input-form">
        <form enctype="multipart/form-data" action="/books/upload" id="bookForm" method="post">
            <label for="title">Book Title</label>
            <input type="text" name="title" placeholder="Title" required /> </br>

            <label for="authors">Authors</label>
            <input type="text" name="authors" placeholder="Author(s)" required /> </br>

            <label for="publisher">Publisher</label>
            <input type="text" name="publisher" placeholder="Publisher" /> </br>

            <label for="publishYear">Publishing year</label>
            <input type="text" name="publishingYear" placeholder="2021" /> </br>

            <label for="bookFile">Book File</label>
            <input type="file" name="bookFile" accept=".pdf,.zip,.mobi,.epub,.docx,.doc,.txt" /> </br>

            <label for="fileExt">File Extension</label>
            <input type="text" name="fileExt" value="mobi" /> <br>

            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
