<!DOCTYPE html>
<html>
<head>
    {{ template "common-header" }}
    <style>
        {{ template "common-css" }}
    </style>
</head>

<body>
    {{ template "common-logo" }}
    {{ template "common-menu" }}
    <h1>Finance</h1>

    <a href="/finance-new">Insert new financial transactions</a>
    <br>
    <a href="/finance-explorer">Explore historical transactions</a>

    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Transactions</th>
                <th>In-flow</th>
                <th>Out-flow</th>
            </tr>
        </thead>
        <tbody>
        {{ range .MonthlyAggregation }}
            <tr>
                <td>{{.YearMonth}}</td>
                <td>{{.NumOfTransactions}}</td>
                <td>{{.Inflow}}</td>
                <td>{{.Outflow}}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</body>
</html>
