<!DOCTYPE html>
<html>
<head>
    {{ template "common-header" }}
    <style>
        {{ template "common-css" }}
    </style>
    <script>
        function getSessionDeadline() {
            return {{ .SessionExpUnix }};
        }

        {{ template "common-js" }}
    </script>
</head>

<body>
    {{ template "common-session-timer" }}
    {{ template "common-logo" }}
    {{ template "common-menu" }}

    <h2>Home database summary</h2>

{{ if .LoadingError }}
    <h2 style="color: red;">
        Error: {{ .LoadingError }}
    </h2>
{{ else }}
    <h3>Counters</h3>
        <p>Average weekly usage based on latest three measurements</p>
    <ul>
        <li>Cold water: <b>{{.ColdWaterWeeklyAvg}}</b> liters </li>
        <li>Hot water: <b>{{.HotWaterWeeklyAvg}}</b> liters </li>
        <li>Energy: <b>{{.EnergyWeeklyAvg}}</b> kWh </li>
    </ul>

    <h3>Documents</h3>
        <p>Documents statistics</p>
    <ul>
        <li>Number of documents uploaded: <b>{{.DocumentsNumber}}</b></li>
        <li>Size of all documents: <b>{{.DocumentsSizeMb}}</b> MB</li>
        <li>Latest document upload date: <b>{{.DocumentLatestUploadDate}}</b></li>
    </ul>

    <h3>Books</h3>
        <p>E-books and paper books statistics</p>
    <ul>
        <li>Number of e-books uploaded: <b>{{.EbooksNumber}}</b></li>
        <li>Size of all e-books: <b>{{.EbooksSizeMb}}</b> MB</li>
        <li>Latest e-book upload date: <b>{{.EbookLatestUploadDate}}</b></li>
        <li>Number of paper books info uploaded: <b>{{.BooksNumber}}</b></li>
        <li>Latest paper book info upload date: <b>{{.BookLatestUploadDate}}</b></li>
    </ul>

    <h3>Finance</h3>
        <p>Latest uploaded transaction was from <b>{{.FinancialLatestOrderDate}}.</b></p>
{{ end }}

    <footer style="text-align: center;">
        {{.AppVersion}} ({{.CurrentHash}})
    </footer>
</body>
</html>
