<!DOCTYPE html>
<html>
<head>
    {{ template "common-header" }}
</head>

<body>
    {{ template "common-logo" }}
        <form method="POST" action="/login">
            <label for="aligned-name">Login</label>
            <input type="text" name="login" id="aligned-name" placeholder="username" />
            <label for="aligned-password">Password</label>
            <input type="password" name="pass" id="aligned-password" placeholder="Password" />
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </form>

    {{ if .TelegramClient }}
        <p>Please remember about 2FA via Telegram</p>
    {{ end }}
</body>
</html>
